
<!--{% extends "base.html" %}-->

{% block content %}


{% for post in posts %}

<div class="row">
  <div class="col-sm-8 blog-main">
    <div class="blog-post">
      <h2 class="blog-post-title">{{ post.subject | safe }}</h2>
        <p class="blog-post-meta">{{ post.last_modified }} by {{ post.author.name }}</p>
        <p class="blog-post-meta" id="likes_{{ post.key.urlsafe() }}">{{ post.likes }} likes</p>

        <p>{{ post.content | safe }}</p>

        <a href="/blog/post/{{ post.key.urlsafe() }}" class="btn btn-primary" role="button">Detail</a> 

        {% if user and user.name == post.author.name %}
          
        <a href="/blog/update/{{ post.key.urlsafe() }}" class="btn btn-primary" role="button">Edit</a> 
        <a href="/blog/delete/{{ post.key.urlsafe() }}" class="btn btn-default" role="button">Delete</a>

        {% endif %} 

        {% if user and user.name != post.author.name %}

        <input type="button" id="like_{{ post.key.urlsafe() }}" class="btn btn-primary" value="like"/>

        {% endif %} 

      </div>
    </div>
  </div>



<form role="form" method="post" id="commentForm" action="/blog/comment/create/{{ post.key.urlsafe() }}">

  <div class="form-group">
    <label for="content">Add a comment:</label>
    <textarea name="content" class="form-control" id="content" rows="4" placeholder="Content">{{ content }}</textarea>
    <p>{{ errors["error_content"] }}</p>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>

</form>


<div id="CommentContainer">

{% for comment in post.comments %}

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Commented by {{ comment.author.name }}</h3>
        <p>{{ comment.content }}</p>
        <p>
          test
          <a href="/blog/comment/update/{{ comment }}" class="btn btn-primary" role="button">Edit</a> 
          <a href="/blog/comment/delete/{{ comment }}" class="btn btn-default" role="button">Delete</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% endfor %}


<script>

$(document).ready(function() {

    var post_key_url = '{{ post.key.urlsafe() }}';

    $('#like_'.concat(post_key_url)).on('click', { post_key_url:post_key_url }, like);

});

</script>

{% endfor %}


<script src="/js/base.js"></script>
{% endblock %}