
{% extends "base.html" %}

{% block content %}


<form role="form" method="post">

  <div class="form-group ">
    <label for="name">Name:</label>
    <input type="text" name="name" value="{{ user.name }}" class="form-control" placeholder="Name">
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="text" name="password" value="{{ user.password }}" class="form-control" placeholder="Password">
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" name="email" value="{{ user.email }}" class="form-control" placeholder="Email">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>

</form>

{{ error }}

<p>Already have an account?<a href="/blog/login">Log in</a>

<p><a href="/blog/logout">Log out</a>

{% endblock %}