
{% extends "base.html" %}

{% block content %}


<form role="form" method="post">

  <div class="form-group ">
    <label for="subject">Subject:</label>
    <input type="text" name="subject" value="{{ post.subject }}" class="form-control" placeholder="Subject">
    <p>{{ errors["error_subject"] }}</p>
  </div>

  <div class="form-group">
    <label for="content">Content:</label>
    <textarea id="textarea-tinymce" name="content" class="form-control" rows="10" placeholder="Content">{{ post.content }}</textarea>
    <p>{{ errors["error_content"] }}</p>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>

</form>

<p>{{ errors["error_author"] }}</p>

{% endblock %}